/* =======================================================================
Template Name: Dil Hospital
Author:  SmartEye Adminpanel
Author URI: www.smarteyeapps.com
Version: 1.0
coder name:Prabin Raja
Description: This Template is created for web template
======================================================================= */
/* ===================================== Import Less ================================== */
:root {
  --color-font: #808291;
  --color-primary: #3ed2a7;
  --color-secondary: #ffb09f;
  --color-link: #a7a9b8;
  --color-link-hover: #181b31;
  --color-gradient-start: #4fda91;
  --color-gradient-stop: #34dbc5;
  --color-img-holder: #efefef; }

@font-face {
  font-family: 'mouse-300';
  src: url("../fonts/GothamBook Regular.otf") format("truetype"); }
@font-face {
  font-family: 'mouse-400';
  src: url("../fonts/Gotham Medium.otf") format("truetype"); }
@font-face {
  font-family: 'mouse-500';
  src: url("../fonts/Gotham Bold.otf") format("truetype"); }
/* ===================================== Basic CSS ================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #444; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html, body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.hid {
  display: none; }

.top-mar {
  margin-top: 15px; }

.h-100 {
  height: 100%; }

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important; }

.container-fluid {
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

body {
  background-color: #ffffff !important;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6A6A6A;
  overflow-x: hidden; }

.session-title {
  padding: 30px;
  margin: 0px; }
  .session-title h2 {
    width: 100%;
    text-align: center;
    font-family: "mouse-400", Arial, Helvetica, sans-serif; }
  .session-title p {
    max-width: 850px;
    text-align: center;
    float: none;
    margin: auto;
    font-size: .85rem; }
  .session-title span {
    float: right;
    font-style: italic; }

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 30px; }
  .inner-title h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem; }
  .inner-title p {
    width: 100%;
    text-align: center; }

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 160px; }
  .page-nav ul {
    float: none;
    margin: auto; }
  @media screen and (max-width: 576px) {
    .page-nav {
      padding-top: 186px; } }
  @media screen and (max-width: 356px) {
    .page-nav {
      padding-top: 206px; } }
  .page-nav h2 {
    font-size: 36px;
    width: 100%;
    color: #444; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444; }

.btn-success {
  background-color: #223d50;
  border-color: #223d50; }
  .btn-success:hover {
    background-color: #223d50 !important;
    border-color: #223d50 !important; }
  .btn-success:active {
    background-color: #223d50 !important;
    border-color: #223d50 !important; }
  .btn-success:focus {
    background-color: #223d50 !important;
    border-color: #223d50 !important;
    box-shadow: none !important; }

.btn-primary {
  background-color: #FF3A46;
  border-color: #FF3A46; }
  .btn-primary:hover {
    background-color: #FF3A46 !important;
    border-color: #FF3A46 !important; }
  .btn-primary:active {
    background-color: #FF3A46 !important;
    border-color: #FF3A46 !important; }
  .btn-primary:focus {
    background-color: #FF3A46 !important;
    border-color: #FF3A46 !important;
    box-shadow: none !important; }

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid  #863dd9; }

.btn-light {
  background-color: #FFF;
  color: #3F3F3F; }

.collapse.show {
  display: block !important; }

.form-control:focus {
  box-shadow: none;
  border: 2px solid #863dd9 !important; }

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px; }
  .form-control:focus {
    background-color: #FFF;
    border-color: #CCC; }

.container {
  max-width: 1100px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 10px 15px; } }

.btn-success {
  background-color: #223d50;
  border-color: #223d50; }
  .btn-success:hover {
    background-color: #223d50 !important;
    border-color: #223d50 !important; }
  .btn-success:active {
    background-color: #223d50 !important;
    border-color: #223d50 !important; }
  .btn-success:focus {
    background-color: #223d50 !important;
    border-color: #223d50 !important;
    box-shadow: none !important; }

.btn-primary {
  background-color: #FF3A46;
  border-color: #FF3A46; }
  .btn-primary:hover {
    background-color: #FF3A46 !important;
    border-color: #FF3A46 !important; }
  .btn-primary:active {
    background-color: #FF3A46 !important;
    border-color: #FF3A46 !important; }
  .btn-primary:focus {
    background-color: #FF3A46 !important;
    border-color: #FF3A46 !important;
    box-shadow: none !important; }

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

.btn-outline-primary {
  border-radius: 50px;
  padding: 5px 25px;
  color: #FF3A46;
  border-color: #FF3A46;
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

/* ===================================== Full Screen Background CSS ======================== */
.banner-container {
  background-image: url(../images/head_bg.jpg);
  background-size: 100%;
  height: 100%; }
  @media screen and (max-width: 699px) {
    .banner-container {
      background-size: auto; } }
  @media screen and (max-width: 600px) {
    .banner-container {
      height: 500px; } }
  .banner-container .slider-det {
    text-align: center;
    padding-top: 23%;
    color: #FFF; }
    @media screen and (max-width: 600px) {
      .banner-container .slider-det {
        padding-top: 38%; } }
    @media screen and (max-width: 409px) {
      .banner-container .slider-det {
        padding-top: 58%; } }
    .banner-container .slider-det span {
      text-transform: uppercase;
      font-size: 1.1rem; }
    .banner-container .slider-det h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 2.5rem; }
      @media screen and (max-width: 409px) {
        .banner-container .slider-det h2 {
          font-size: 1.5rem; } }
    .banner-container .slider-det p {
      font-size: 1rem; }
    .banner-container .slider-det .carousel-indicators {
      bottom: -51px; }
    @media screen and (max-width: 600px) {
      .banner-container .slider-det .carousel-control-prev-icon {
        margin-left: -110px; }
      .banner-container .slider-det .carousel-control-next-icon {
        margin-right: -110px; } }
  .banner-container .carousel-control-prev {
    left: -120px; }
  .banner-container .carousel-control-next {
    right: -121px; }

.page-title {
  background-image: url(../images/head_bg.jpg);
  background-size: 100%;
  height: 400px;
  padding-top: 155px;
  color: #FFF; }
  @media screen and (max-width: 600px) {
    .page-title {
      padding-top: 200px; } }
  .page-title h2 {
    text-align: center;
    width: 100%; }
  .page-title p {
    width: 100%;
    text-align: center;
    font-size: .9rem;
    margin-top: 10px; }
    .page-title p i {
      width: 40px;
      text-align: center; }

.titl-2 {
  padding-top: 205px; }

/* ===================================== Header CSS ================================== */
.header-container {
  position: absolute;
  top: 0px;
  width: 100%; }
  .header-container .header-top {
    border-bottom: 1px solid #cccc4a; }
    .header-container .header-top .left-item ul li {
      float: left;
      color: #fff;
      padding: 12px;
      font-size: 0.9rem; }
      .header-container .header-top .left-item ul li i {
        color: #fff; }
    .header-container .header-top .right-item ul {
      float: right; }
      .header-container .header-top .right-item ul li {
        float: left;
        color: #fff;
        padding: 12px; }

nav .logo {
  padding: 8px; }
  nav .logo img {
    width: 90%; }
nav .log-gray {
  display: none; }
@media screen and (max-width: 767px) {
  nav .container {
    padding: 0px 10px !important; } }
@media screen and (max-width: 767px) {
  nav .nav-div {
    background-color: #FFF; } }
@media screen and (max-width: 767px) {
  nav .nav-div ul {
    margin-top: 5px; } }
nav .nav-div ul li {
  float: left;
  padding: 27px 15px;
  font-size: .9rem; }
  nav .nav-div ul li a {
    color: #fff;
    font-family: "mouse-400", Arial, Helvetica, sans-serif; }
  @media screen and (max-width: 1033px) {
    nav .nav-div ul li {
      padding: 27px 10px; } }
  @media screen and (max-width: 939px) {
    nav .nav-div ul li {
      font: .8rem;
      padding: 27px 5px; } }
  @media screen and (max-width: 767px) {
    nav .nav-div ul li {
      float: none;
      padding: 10px;
      border-top: 1px solid #cccc73; } }
@media screen and (max-width: 849px) {
  nav .nav-div .yc {
    display: none; } }
@media screen and (max-width: 767px) {
  nav .logo img {
    width: 230px; } }
nav .small-menu {
  float: right;
  padding: 16px;
  font-size: 27px;
  color: #FFF; }

.scroll-to-fixed-fixed {
  background-color: #FFF;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  .scroll-to-fixed-fixed .log {
    display: none; }
  .scroll-to-fixed-fixed .log-gray {
    display: block; }
  @media screen and (max-width: 767px) {
    .scroll-to-fixed-fixed .nav-div {
      background-color: #FFF; } }
  .scroll-to-fixed-fixed .nav-div ul li a {
    color: #444; }
  .scroll-to-fixed-fixed .small-menu {
    color: #444;
    margin-top: -58px; }

/* ===================================== Key Features CSS ================================== */
.key-features {
  background-color: #f8f8f8;
  padding: 50px;
  padding-bottom: 170px; }
  @media screen and (max-width: 940px) {
    .key-features {
      padding: 30px 10px; } }
  .key-features .key-row {
    margin-top: 20px; }
    .key-features .key-row .key-single {
      margin-bottom: 20px; }
      .key-features .key-row .key-single i {
        color: #3987FF;
        font-size: 2.5rem;
        margin-bottom: 30px; }
      .key-features .key-row .key-single h6 {
        color: #444; }
      .key-features .key-row .key-single p {
        font-size: .8rem;
        margin-top: 5px; }

/* ===================================== About Company CSS ================================== */
.with-medical {
  padding: 50px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .with-medical {
      padding: 30px 10px; } }
  .with-medical img {
    margin-top: 25px; }
  .with-medical .txtr {
    padding: 10px; }
    .with-medical .txtr h4 {
      font-size: 32px; }
      .with-medical .txtr h4 span {
        color: #03509e; }
    .with-medical .txtr p {
      text-indent: 20px;
      font-size: .9rem; }

/* ===================================== Services CSS ================================== */
[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
  background-color: RGBA(33, 111, 255, 0.87); }

.services-container {
  margin-top: -100px;
  padding-bottom: 30px; }
  @media screen and (max-width: 600px) {
    .services-container {
      margin-top: 0px; } }
  .services-container .sess-in-cont {
    background-color: #FFF;
    padding: 20px 30px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.1); }
    .services-container .sess-in-cont .sess-row {
      margin-top: 20px; }
      .services-container .sess-in-cont .sess-row .serv-det figure {
        border-radius: 10px; }
      .services-container .sess-in-cont .sess-row .serv-det figcaption {
        font-size: .8rem; }
      .services-container .sess-in-cont .sess-row .serv-det h6 {
        font-size: .9rem;
        padding: 6px; }

/* ===================================== Testimonial CSS ================================== */
.testimonial-cover .test-container {
  padding: 50px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: -90px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .testimonial-cover .test-container {
      padding: 30px 10px; } }
  @media screen and (max-width: 940px) {
    .testimonial-cover .test-container {
      margin-top: 0px; } }
  .testimonial-cover .test-container .test-row {
    margin-top: 20px; }
    .testimonial-cover .test-container .test-row .test-key {
      text-align: center;
      padding: 15px; }
      .testimonial-cover .test-container .test-row .test-key img {
        width: 70px;
        border-radius: 50%; }
      .testimonial-cover .test-container .test-row .test-key h5 {
        font-size: .95rem;
        margin-top: 10px;
        color: #444; }
      .testimonial-cover .test-container .test-row .test-key a {
        color: #3273e7;
        font-family: "mouse-400", Arial, Helvetica, sans-serif;
        font-size: .9rem; }
      .testimonial-cover .test-container .test-row .test-key p {
        margin-top: 10px;
        font-size: .84rem;
        line-height: 30px; }

/* ===================================== Testimonial CSS ================================== */
.client-container {
  padding: 50px; }
  @media screen and (max-width: 940px) {
    .client-container {
      padding: 30px 10px; } }
  .client-container .client-row .br {
    border-right: 1px solid #cccc61; }
  .client-container .client-row .bb {
    border-bottom: 1px solid #cccc61; }
  .client-container .client-row .clinent-cover {
    padding: 30px 20px;
    text-align: center; }
    .client-container .client-row .clinent-cover:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/* ===================================== Price Tab CSS ================================== */
/* ===================================== Blog CSS ================================== */
.blog-container {
  background-color: #cccc2e;
  padding: 50px;
  padding-bottom: 100px; }
  @media screen and (max-width: 940px) {
    .blog-container {
      padding: 30px 10px; } }
  .blog-container .news-row {
    margin-top: 20px; }
    .blog-container .news-row .news-card {
      display: flex;
      background-color: #FFF;
      box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
      margin-bottom: 20px; }
      .blog-container .news-row .news-card .detail {
        padding: 10px;
        margin: auto; }
        .blog-container .news-row .news-card .detail h3 {
          font-size: 1.1rem;
          font-family: "mouse-400", Arial, Helvetica, sans-serif;
          margin-bottom: 0px; }
        .blog-container .news-row .news-card .detail p {
          font-size: .85rem;
          text-indent: 20px;
          text-align: justify; }
        .blog-container .news-row .news-card .detail .footp {
          text-indent: 0px;
          background-color: #f2f6f7;
          margin-top: 5px;
          font-size: .8rem; }
          .blog-container .news-row .news-card .detail .footp span {
            padding: 0px 5px; }
      .blog-container .news-row .news-card:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/* ===================================== Contact US CSS ================================== */
.contact-rooo .pr-0 {
  padding-right: 0px; }
.contact-rooo .cont-row {
  margin-top: 10px; }
  .contact-rooo .cont-row .col-sm-3 {
    padding-right: 0px; }
    .contact-rooo .cont-row .col-sm-3 span {
      float: right; }
    .col-sm-8{padding-right: 10px;padding-left: 10px;}  
    .input-sm{width: 250px}
    .serv{padding-left:10%}

/* ===================================== Footer CSS ================================== */
footer .foot-det {
  margin-top: -50px; }
footer .foot-cont {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  padding: 50px; }
  @media screen and (max-width: 940px) {
    footer .foot-cont {
      padding: 30px 10px; } }
  footer .foot-cont h4 {
    margin-bottom: 30px; }
  footer .foot-cont .foot-about p {
    font-size: .85rem;
    margin-bottom: 30px; }
  footer .foot-cont .foot-about ul {
    float: none;
    margin: auto; }
    footer .foot-cont .foot-about ul li {
      float: left;
      padding: 10px; }
      footer .foot-cont .foot-about ul li i {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #CCC;
        text-align: center;
        padding-top: 6px;
        font-size: .9rem; }
footer .menu-foot ul li {
  float: left;
  width: 50%;
  font-size: .88rem;
  text-decoration: underline;
  padding: 8px; }
footer .cont-foot h5 {
  color: #3173ed;
  margin-bottom: 30px; }
footer .cont-foot p {
  font-size: .9rem;
  margin-bottom: 20px; }
footer .cont-foot a {
  text-decoration: underline; }
footer .copy-right {
  padding: 25px; }
  footer .copy-right p {
    margin-top: 13px;
    font-size: .9rem;
    text-align: center; }
    footer .copy-right p a {
      color: #3173ed; }

/*# sourceMappingURL=style.css.map */
